In [1]:
#1.WAS to print "Hello World" by using shell.
print("Hello World")

Hello World

In [2]:
#2.WAS to print "hello World" by using puthon print function.
print("Hello World")

Hello World

In [3]:
#3.WAS to initialize variable and value as 50.
a=50
print(a)

50

In [4]:
#4.WAS to initialize multivariable values 150,120,250.
a,b,c=150,120,250
print(a)
print(b)
print(c)

150
120
250

In [8]:
#5.WAS to print type of the data in given value.
x={10,20}
print(type(x))
y=[1,2,3]
print(type(y))
z=('a','b','c')
print(type(z))
q="a123d4"
print(type(q))

<class 'set'>
<class 'list'>
<class 'tuple'>
<class 'str'>

In [11]:
#6.WAS print the address of memory block in given value.
w=[1,2,3,4]
print(id(w))
print(id([1,2,3,4]))

2199329870208
2199330066368

In [19]:
#7.WAS to print your details, first store your details and extract the values and display it.
name,age,phone,email='Rohith',21,8008535363,'rohiths819@gmail.com'
print(name)
print(age)
Details=['Rohith',21,8008535363,'rohiths819@gmail.com']
print(Details)
print(Details[-1])
print(Details[2])
details={'name':'Rohith','age':21,'phone':8008535363,'email':'rohiths819@gmail.com'}
print(details)
print(details['phone'])
print(details['name'])

Rohith
21
['Rohith', 21, 8008535363, 'rohiths819@gmail.com']
rohiths819@gmail.com
8008535363
{'name': 'Rohith', 'age': 21, 'phone': 8008535363, 'email': 'rohiths819@gmail.com'}
8008535363
Rohith

In [20]:
#8.WAS to swap the two values with a temp varaiable.
x='hlo'
y=[1,2,3]
temp=x
x=y
y=temp
print(x)
print(y)

[1, 2, 3]
hlo

In [21]:
#9.WAS to swap the two values without a temp varaiable.
n='hlo'
m=[1,2,3]
n,m=m,n
print(n)
print(m)

[1, 2, 3]
hlo

In [23]:
#10.WAS to initialize a value and print the value,after print the value then reinitialize the new value to existing varaible and display the value.
k={'1':'Rohith'}
print(k) 
print(k['1'])
k['1']="Prudhvi"
print(k)
print(k['1'])

{'1': 'Rohith'}
Rohith
{'1': 'Prudhvi'}
Prudhvi

In [25]:
#WAS to convert single value datatype to multi value datatype.(i/p:l=10,o/p:['1','0']).
l=10
l=str(l)
print(list(l))
#OR
l=10
print(list(str(l)))

['1', '0']
['1', '0']

In [32]:
#12.WAS to concat the two mutivalue datatype.(we have to use component assignment operstor(+=) to concat tow different multi value dataypes)
f='Py'          #same datatype.
p='spiders'
f+=p
print(f)
j='qspiders'    # different dataypes with += operator
u=[1,2,3]
u+=j
print(u) 
v='Jspiders'    #different datatypes without using += operator
y=('a','b')
#print(v+y)   
# TypeError: can only concatenate str (not "tuple") to str

Pyspiders
[1, 2, 3, 'q', 's', 'p', 'i', 'd', 'e', 'r', 's']

In [40]:
#13.WAS to check the length of the collection.
t=(100,200,300,400,500)
print(len(t))

5

In [38]:
#14.WAS to check find out the middle value  of the given collection.
q=[10,20,30,40]
print(q[len(q)//2])

30

In [42]:
#15.WAS to concat the new string into the starting of the given string.
a='Sir'
b='Good Morning '
b+=a
print(b)

Good Morning Sir

In [44]:
#16.WAS to concat the new string into the ending of the given string.
n="Have a "
m="Great Day"
n+=m
print(n)

Have a Great Day

In [46]:
#17.WAS to concat the new string into the middle of the given string.
g='My is Rohith'
h='name'
g=g[:6]+h+g[5:]
print(g)

My is name Rohith

In [47]:
#18.WAS to modify the new character into the middle of the given string.
r='marvels'
print(r[0:len(r)//2]+'V'+r[(len(r)//2)+1:])

marVels

In [52]:
#19.WAS to modify the sequence of the characters in given string.
r='marvels'
print(r[0:2]+'RVE'+r[5:])

maRVEls

In [53]:
#20.WAS to replace the old character into a new character of the given string.
r='marvels'
print(r[:-4]+'V'+r[-3:])

marVels

In [55]:
#21.WAS to delete the specific character in the given string.
r='marvels'
print(r[:3]+r[4:])

marels

In [56]:
#22.WAS to concat the new string into the specific position of the given string.
w='hello Morning'
print(w[:6]+'Good'+w[-8:])

hello Good Morning

In [58]:
#23.WAS to delete the sequence of characters in given string.
r='marvels'
r=r[:2]+r[-2:]
print(r)

mals

In [62]:
#24.WAS to concat the new value into the starting of the given list.
l=[10,20,30]
print(l)
print(id(l))
l[0:0]=['a','b']
print(l)
print(id(l))

[10, 20, 30]
2199318914624
['a', 'b', 10, 20, 30]
2199318914624

In [63]:
#25.WAS to concat the new values into the ending of the given list.
l=[10,20,30]
print(l)
print(id(l))
l[len(l):len(l)]=['a','b']
print(l)
print(id(l))

[10, 20, 30]
2199330014976
[10, 20, 30, 'a', 'b']
2199330014976

In [65]:
#26.WAS to concat the new value into the middle of the given list.
j=[10,'ab',True,2+4j,b'10101',20.5]
print(j)
print(id(j))
j[len(j)//2:len(j)//2]=[10,20,30]
print(j)
print(id(j))

[10, 'ab', True, (2+4j), b'10101', 20.5]
2199330099456
[10, 'ab', True, 10, 20, 30, (2+4j), b'10101', 20.5]
2199330099456

In [66]:
#27.WAS to concat the new value into the specifi position of the given list.
z=[10,15.2,10+2j,False,'hello']
print(z)
print(id(z))
z[-3:-3]=['ab','bc','cd']
print(z)
print(id(z))

[10, 15.2, (10+2j), False, 'hello']
2199351440384
[10, 15.2, 'ab', 'bc', 'cd', (10+2j), False, 'hello']
2199351440384

In [67]:
#28.WAS to modify the new value into the specific position of the given list.
l=[10,10.5,10+10j,True,'10']
print(l)
print(id(l))
l[1]=10.1
print(l)
print(id(l))

[10, 10.5, (10+10j), True, '10']
2199329883648
[10, 10.1, (10+10j), True, '10']
2199329883648

In [68]:
#29.WAS to modify the new value into the starting f the given list.
n=[10,10.5,10+10j,True,'10']
print(n)
print(id(n))
n[0]=11
print(n)
print(id(n))

[10, 10.5, (10+10j), True, '10']
2199330104448
[11, 10.5, (10+10j), True, '10']
2199330104448

In [69]:
#30.WAS to modify the new value into the ending of the given list.
v=[1,'a',False,1+2j,[12,11],('a','b'),20]
print(v)
print(id(v))
v[len(v)-1]={10,20,30}
print(v)
print(id(v))

[1, 'a', False, (1+2j), [12, 11], ('a', 'b'), 20]
2199330105216
[1, 'a', False, (1+2j), [12, 11], ('a', 'b'), {10, 20, 30}]
2199330105216

In [70]:
#31.WAS to modify the new value into the middle of the given list.
a=[1,'a',False,1+2j,[12,11],('a','b'),20]
print(a)
print(id(a))
a[len(a)//2]={1:'a',2:'b'}
print(a)
print(id(a))

[1, 'a', False, (1+2j), [12, 11], ('a', 'b'), 20]
2199351485120
[1, 'a', False, {1: 'a', 2: 'b'}, [12, 11], ('a', 'b'), 20]
2199351485120

In [71]:
#33.WAS to modify the sequence of values into a given list.
d=[1,2,3,4,5,6,7,8,9]
print(d)
print(id(d))
d[1::2]=['a','b','c','d']
print(d)
print(id(d))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
2199330099968
[1, 'a', 3, 'b', 5, 'c', 7, 'd', 9]
2199330099968

In [73]:
#i/p:d=[1,3,2,5,4,7,8,6,9,15] --> o/p:d=[1,3,4,5,16,7,64,6,81,15]
d=[1,3,2,5,4,7,8,6,9,15]
d[2::2]=[4,16,64,81]
print(d)
#OR
d=[1,3,2,5,4,7,8,6,9,15]
d[::2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2]
print(d)

[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [74]:
#34.WAS to delete the value in the specific positon of the given list.
s=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
del s[5]
print(s)

[10, 10.21, (5+4j), True, 'abc', ('a', 'b', 'c'), {1, 2, 3}, {1: 'a', 2: 'b'}]

In [75]:
#35.WAS to delete the value in the end of list.
s=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
del s[-1]
print(s)

[10, 10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'), {1, 2, 3}]

In [76]:
#36.WAS to delete the value in the middle of the list.
s=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
del s[len(s)//2]
print(s)

[10, 10.21, (5+4j), True, [10, 20, 30], ('a', 'b', 'c'), {1, 2, 3}, {1: 'a', 2: 'b'}]

In [77]:
#37.WAS to delete new value into the starting of list.
s=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
del s[0]
print(s)
#OR
v=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
v[0:1]=[]
print(v)

[10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'), {1, 2, 3}, {1: 'a', 2: 'b'}]
[10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'), {1, 2, 3}, {1: 'a', 2: 'b'}]

In [82]:
#38.WAS to concat the new value into starting of the tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
b=({1,2,3},)+b
print(b)

({1, 2, 3}, 10, 10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'))

In [87]:
#39.WAS to concat the new value into the middle of the tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
b=b[:len(b)//2]+('hi','bye')+b[len(b)//2:]
print(b)

(10, 10.21, (5+4j), 'hi', 'bye', True, 'abc', [10, 20, 30], ('a', 'b', 'c'))

In [85]:
#40.WAS concat the value into the ending of the the tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
b+=({1:'a',2:'b'},)
print(b)

(10, 10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'), {1: 'a', 2: 'b'})

In [90]:
#42. WAS to delete sequence of values in given tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
del b          # In tuple we can't delete sequence of values but we can delete entire tuple.
print(b)

NameError: name 'b' is not defined