In [35]:
#1.WAS to print "Hello World" by using shell.
print("Hello World")

Hello World

In [36]:
#2.WAS to print "hello World" by using puthon print function.
print("Hello World")

Hello World

In [37]:
#3.WAS to initialize variable and value as 50.
a=50
print(a)

50

In [38]:
#4.WAS to initialize multivariable values 150,120,250.
a,b,c=150,120,250
print(a)
print(b)
print(c)

150
120
250

In [39]:
#5.WAS to print type of the data in given value.
x={10,20}
print(type(x))
y=[1,2,3]
print(type(y))
z=('a','b','c')
print(type(z))
q="a123d4"
print(type(q))

<class 'set'>
<class 'list'>
<class 'tuple'>
<class 'str'>

In [40]:
#6.WAS print the address of memory block in given value.
w=[1,2,3,4]
print(id(w))
print(id([1,2,3,4]))

2782434059200
2782434076672

In [41]:
#7.WAS to print your details, first store your details and extract the values and display it.
name,age,phone,email='Rohith',21,8008535363,'rohiths819@gmail.com'
print(name)
print(age)
Details=['Rohith',21,8008535363,'rohiths819@gmail.com']
print(Details)
print(Details[-1])
print(Details[2])
details={'name':'Rohith','age':21,'phone':8008535363,'email':'rohiths819@gmail.com'}
print(details)
print(details['phone'])
print(details['name'])

Rohith
21
['Rohith', 21, 8008535363, 'rohiths819@gmail.com']
rohiths819@gmail.com
8008535363
{'name': 'Rohith', 'age': 21, 'phone': 8008535363, 'email': 'rohiths819@gmail.com'}
8008535363
Rohith

In [42]:
#8.WAS to swap the two values with a temp varaiable.
x='hlo'
y=[1,2,3]
temp=x
x=y
y=temp
print(x)
print(y)

[1, 2, 3]
hlo

In [43]:
#9.WAS to swap the two values without a temp varaiable.
n='hlo'
m=[1,2,3]
n,m=m,n
print(n)
print(m)

[1, 2, 3]
hlo

In [44]:
#10.WAS to initialize a value and print the value,after print the value then reinitialize the new value to existing varaible and display the value.
k={'1':'Rohith'}
print(k) 
print(k['1'])
k['1']="Prudhvi"
print(k)
print(k['1'])

{'1': 'Rohith'}
Rohith
{'1': 'Prudhvi'}
Prudhvi

In [45]:
#WAS to convert single value datatype to multi value datatype.(i/p:l=10,o/p:['1','0']).
l=10
l=str(l)
print(list(l))
#OR
l=10
print(list(str(l)))

['1', '0']
['1', '0']

In [46]:
#12.WAS to concat the two mutivalue datatype.(we have to use component assignment operstor(+=) to concat tow different multi value dataypes)
f='Py'          #same datatype.
p='spiders'
f+=p
print(f)
j='qspiders'    # different dataypes with += operator
u=[1,2,3]
u+=j
print(u) 
v='Jspiders'    #different datatypes without using += operator
y=('a','b')
#print(v+y)   
# TypeError: can only concatenate str (not "tuple") to str

Pyspiders
[1, 2, 3, 'q', 's', 'p', 'i', 'd', 'e', 'r', 's']

In [47]:
#13.WAS to check the length of the collection.
t=(100,200,300,400,500)
print(len(t))

5

In [48]:
#14.WAS to check find out the middle value  of the given collection.
q=[10,20,30,40]
print(q[len(q)//2])

30

In [49]:
#15.WAS to concat the new string into the starting of the given string.
a='Sir'
b='Good Morning '
b+=a
print(b)

Good Morning Sir

In [50]:
#16.WAS to concat the new string into the ending of the given string.
n="Have a "
m="Great Day"
n+=m
print(n)

Have a Great Day

In [51]:
#17.WAS to concat the new string into the middle of the given string.
g='My is Rohith'
h='name'
g=g[:6]+h+g[5:]
print(g)

My is name Rohith

In [52]:
#18.WAS to modify the new character into the middle of the given string.
r='marvels'
print(r[0:len(r)//2]+'V'+r[(len(r)//2)+1:])

marVels

In [53]:
#19.WAS to modify the sequence of the characters in given string.
r='marvels'
print(r[0:2]+'RVE'+r[5:])

maRVEls

In [54]:
#20.WAS to replace the old character into a new character of the given string.
r='marvels'
print(r[:-4]+'V'+r[-3:])

marVels

In [55]:
#21.WAS to delete the specific character in the given string.
r='marvels'
print(r[:3]+r[4:])

marels

In [56]:
#22.WAS to concat the new string into the specific position of the given string.
w='hello Morning'
print(w[:6]+'Good'+w[-8:])

hello Good Morning

In [57]:
#23.WAS to delete the sequence of characters in given string.
r='marvels'
r=r[:2]+r[-2:]
print(r)

mals

In [58]:
#24.WAS to concat the new value into the starting of the given list.
l=[10,20,30]
print(l)
print(id(l))
l[0:0]=['a','b']
print(l)
print(id(l))

[10, 20, 30]
2782434079488
['a', 'b', 10, 20, 30]
2782434079488

In [59]:
#25.WAS to concat the new values into the ending of the given list.
l=[10,20,30]
print(l)
print(id(l))
l[len(l):len(l)]=['a','b']
print(l)
print(id(l))

[10, 20, 30]
2782434057408
[10, 20, 30, 'a', 'b']
2782434057408

In [60]:
#26.WAS to concat the new value into the middle of the given list.
j=[10,'ab',True,2+4j,b'10101',20.5]
print(j)
print(id(j))
j[len(j)//2:len(j)//2]=[10,20,30]
print(j)
print(id(j))

[10, 'ab', True, (2+4j), b'10101', 20.5]
2782433716352
[10, 'ab', True, 10, 20, 30, (2+4j), b'10101', 20.5]
2782433716352

In [61]:
#27.WAS to concat the new value into the specifi position of the given list.
z=[10,15.2,10+2j,False,'hello']
print(z)
print(id(z))
z[-3:-3]=['ab','bc','cd']
print(z)
print(id(z))

[10, 15.2, (10+2j), False, 'hello']
2782434181632
[10, 15.2, 'ab', 'bc', 'cd', (10+2j), False, 'hello']
2782434181632

In [62]:
#28.WAS to modify the new value into the specific position of the given list.
l=[10,10.5,10+10j,True,'10']
print(l)
print(id(l))
l[1]=10.1
print(l)
print(id(l))

[10, 10.5, (10+10j), True, '10']
2782434067200
[10, 10.1, (10+10j), True, '10']
2782434067200

In [63]:
#29.WAS to modify the new value into the starting f the given list.
n=[10,10.5,10+10j,True,'10']
print(n)
print(id(n))
n[0]=11
print(n)
print(id(n))

[10, 10.5, (10+10j), True, '10']
2782433655488
[11, 10.5, (10+10j), True, '10']
2782433655488

In [64]:
#30.WAS to modify the new value into the ending of the given list.
v=[1,'a',False,1+2j,[12,11],('a','b'),20]
print(v)
print(id(v))
v[len(v)-1]={10,20,30}
print(v)
print(id(v))

[1, 'a', False, (1+2j), [12, 11], ('a', 'b'), 20]
2782434073216
[1, 'a', False, (1+2j), [12, 11], ('a', 'b'), {10, 20, 30}]
2782434073216

In [65]:
#31.WAS to modify the new value into the middle of the given list.
a=[1,'a',False,1+2j,[12,11],('a','b'),20]
print(a)
print(id(a))
a[len(a)//2]={1:'a',2:'b'}
print(a)
print(id(a))

[1, 'a', False, (1+2j), [12, 11], ('a', 'b'), 20]
2782433509312
[1, 'a', False, {1: 'a', 2: 'b'}, [12, 11], ('a', 'b'), 20]
2782433509312

In [66]:
#33.WAS to modify the sequence of values into a given list.
d=[1,2,3,4,5,6,7,8,9]
print(d)
print(id(d))
d[1::2]=['a','b','c','d']
print(d)
print(id(d))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
2782434060352
[1, 'a', 3, 'b', 5, 'c', 7, 'd', 9]
2782434060352

In [67]:
#i/p:d=[1,3,2,5,4,7,8,6,9,15] --> o/p:d=[1,3,4,5,16,7,64,6,81,15]
d=[1,3,2,5,4,7,8,6,9,15]
d[2::2]=[4,16,64,81]
print(d)
#OR
d=[1,3,2,5,4,7,8,6,9,15]
d[::2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2]
print(d)

[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [68]:
#34.WAS to delete the value in the specific positon of the given list.
s=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
del s[5]
print(s)

[10, 10.21, (5+4j), True, 'abc', ('a', 'b', 'c'), {1, 2, 3}, {1: 'a', 2: 'b'}]

In [69]:
#35.WAS to delete the value in the end of list.
s=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
del s[-1]
print(s)

[10, 10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'), {1, 2, 3}]

In [70]:
#36.WAS to delete the value in the middle of the list.
s=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
del s[len(s)//2]
print(s)

[10, 10.21, (5+4j), True, [10, 20, 30], ('a', 'b', 'c'), {1, 2, 3}, {1: 'a', 2: 'b'}]

In [71]:
#37.WAS to delete new value into the starting of list.
s=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
del s[0]
print(s)
#OR
v=[10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'),{1,2,3},{1:'a',2:'b'}]
v[0:1]=[]
print(v)

[10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'), {1, 2, 3}, {1: 'a', 2: 'b'}]
[10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'), {1, 2, 3}, {1: 'a', 2: 'b'}]

In [72]:
#38.WAS to concat the new value into starting of the tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
b=({1,2,3},)+b
print(b)

({1, 2, 3}, 10, 10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'))

In [73]:
#39.WAS to concat the new value into the middle of the tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
b=b[:len(b)//2]+('hi','bye')+b[len(b)//2:]
print(b)

(10, 10.21, (5+4j), 'hi', 'bye', True, 'abc', [10, 20, 30], ('a', 'b', 'c'))

In [74]:
#40.WAS concat the value into the ending of the the tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
b+=({1:'a',2:'b'},)
print(b)

(10, 10.21, (5+4j), True, 'abc', [10, 20, 30], ('a', 'b', 'c'), {1: 'a', 2: 'b'})

In [5]:
#41.WAS to modify the sequence of values in given tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
#b[-2:]=({10,20,30},{'a':10,"b":20}) #In tuple we can't modify the value or sequence of values.
#TypeError: 'tuple' object does not support item assignment
lst=list(b)  #but we can modify the value or sequence of values intuple by using typecasting.
lst[-2:]=({10,20,30},{'a':10,"b":20})
b=tuple(lst)
print(b)

(10, 10.21, (5+4j), True, 'abc', {10, 20, 30}, {'a': 10, 'b': 20})

In [8]:
#42. WAS to delete sequence of values in given tuple.
b=(10,10.21,5+4j,True,'abc',[10,20,30],('a','b','c'))
#del b[-2:]          # In tuple we can't delete sequence of values but we can delete entire tuple.
#TypeError: 'tuple' object does not support item deletion
lst=list(b)  #but we can del the value or sequence of values in tuple by using typecasting.
del lst[-2:]
b=tuple(lst)
print(b)

(10, 10.21, (5+4j), True, 'abc')

In [ ]:
#43.WAS to convert the new value into set.
s={1,2,3,4,5,}
q={"a","b","c"}
s|=q
print(s)

{1, 2, 3, 4, 5, 'b', 'a', 'c'}

In [ ]:
#44.WAS to delete the specific value into the set.
p={1,2,3,4,5}
o={3,4,5,6,7}
p-=o
print(p)

{1, 2}

In [ ]:
#45.WAS to concat the new key and value in the dict.
d={'a':'Good Morning'}
d['b']="Good Night"
print(d)

{'a': 'Good Morning', 'b': 'Good Night'}

In [ ]:
#46.WAS to delete the specific key and value in given dict.
s={"a":10,'b':20,'c':30,"d":40}
del s['d']
print(s)

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
#47.WAS to modify the specific value in the given dict.
d={'10':'hello','20':'Hii','30':'Bye','40':'Hlo'}
d['20']='Hai'
print(d)

{'10': 'hello', '20': 'Hai', '30': 'Bye', '40': 'Hlo'}

In [ ]:
#48.WAS to concat list and tuple value by using typecasting
p=[1,2,3,4,5]
o=('a','b','c','d')
p=p+list(o)
print(p)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [ ]:
#49.WAS to concat the list and tuple value without typecasting.
p=[1,2,3,4,5]
o=('a','b','c','d')
p+=o
print(p)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [ ]:
#50.WAS to check the given number is divisible by 3.
n=4
print(n%3==0)
n=9
print(n%3==0)

False
True

In [ ]:
#51.WAS to check the given number is divisible by 2 and 6.
n=12
print(n%2==0 and n%6==0)
n=21
print(n%2==0 and n%6==0)

True
False

In [ ]:
#52.WAS to extract the last digit in given integer number(without typecasting).
n=1998
print(n%10)#last digit
print(n%100)#last 2 digits
print(n%1000)#last 3 digits
print(n%10000)#last 4 digits
print(n%100000)#last 5 digits

8
98
998
1998
1998

In [ ]:
#53.WAS to check the last digit divisible by 3 from given integer value(without typecasting).
n=1998
print((n%10)%3==0)
n=1999
print((n%10)%3==0)

False
True

In [ ]:
#54.WAS to check the last digit is divisible by 3 from given string number(with typecasting).
m,n='112244','112233'
c=n[-1]
q=m[-1]
print(int(c)%3==0)
print(int(m)%3==0)
#OR
print((int(str(n[-1]))%3==0))
print((int(str(m[-1]))%3==0))

True
False
True
False

In [ ]:
#55.WAS to check the given number is greater than 150.
n,m=160,140
print(n>150)
print(m>150)

True
False

In [ ]:
#56.WAS to check the given number is greater than or equals to 100.
a,b,c=130,100,90
print(a>=100)
print(b>=100)
print(c>=100)

True
True
False

In [ ]:
#57.WAS to check the given number is less than 150.
n,m=160,140
print(n<150)
print(m<150)

False
True

In [ ]:
#58.WAS to check the given number is less than or equals to 100.
a,b,c=120,100,80
print(a<=100)
print(b<=100)
print(c<=100)

False
True
True

In [ ]:
#59.WAS to check the given number is greater than 15 and less than 24.
n,m,o,=14,20,26
print(n>15 and n<24)
print(m>15 and m<24)
print(o>15 and o<24)

False
True
False

In [ ]:
#60.WAS to check the given number is even.
n,m=124,125
print(n%2==0 and "even")
print(m%2==0)

even
False

In [ ]:
#61.WAS to check the given number is odd.
n,m=132,133
print(n%2!=0)
print(m%2!=0 and "odd")

False
odd

In [76]:
#In Between: Start<value and value>End
#Between: Start<=value and value>=End
#Range: Start<=value and value>End.

In [79]:
#62.WAS to check perform the replication of a given string with 6.
q="Good_Morning "
print(q*6)

Good_Morning Good_Morning Good_Morning Good_Morning Good_Morning Good_Morning

In [80]:
#63.WAS to check given number is divisible by 3 and greater than 22.
n,m=21,26
print(n%3==0 and n>22)
print(m%3==0 and m>22)

False
False

In [81]:
#64.WAS to check perform the length of the collection is even or not.
s,t="Good Work",'Good Day'
print(len(s)%2==0)
print(len(t)%2==0)

False
True

In [83]:
#65.WAS to check perform the length of the collection is less than 55 and greater than 16.
s='My name is M.Rohith'
print(len(s)>16 and len(s)<55)
#OR
print(16<len(s)<55)

True
True

In [91]:
#66.WAS to check perform the length oof the collection is divisible by 5 and odd.
t='1,2,3,4,5,6,7,8'
s='1,2,3,4,5,6,7,8,9'
print(len(t)%5==0 and len(t)%2!=0)
print(len(s)%5==0 and len(s)%2!=0)

True
False

In [98]:
#67.WAS to check extract the middle position of given collection(str,list,tuple).
p="helloworld"
q=[1,2,[10,'a',20,'b'],3]
r=('a','b',(1,2,3),'c')
s=(1,2,3,4)
res=type(s[len(s)//2])
res1=type(p[len(p)//2])
res2=type(q[len(q)//2])
res3=type(r[len(r)//2])
print(res==str or res==list or res==tuple)
print(res1==str or res1==list or res1==tuple)
print(res2==str or res2==list or res2==tuple)
print(res3==str or res3==list or res3==tuple)
#OR
print(res in [str,list,tuple])
print(res1 in [str,list,tuple])
print(res3 in [str,list,tuple])
print(res3 in [str,list,tuple])

False
True
True
True
False
True
True
True

In [99]:
#68.WAS to check the given number is greater than 20 and less than 30 and it should be even.
n,m=22,21
print(n>20 and n<30 and n%2==0)
print(m>20 and m<30 and m%2==0)

True
False

In [103]:
#69.WAS to check the given number is even and it should be less than 120.
n,m=118,122
print(n%2==0 and n<120 )
print(m%2==0 and m<120)

True
False

In [106]:
#70.WAS to check the given number is even and present from 40 to 70
n,m,o=40,62,72
print(n%2==0 and n>=40 and n<=70)
print(m%2==0 and m>=40 and m<=70)
print(o%2==0 and o>=40 and o<=70)

True
True
False

In [107]:
#71.WAS to check the given number is odd and it should be greater than 97.
n,m=99,100
print(n%2!=0 and n>97)
print(m%2!=0 and m>97)

True
False

In [112]:
#72.WAS to check the given number is less than 122 and greater than 48 and number should be divisible by 4.
n,m=120,123
print(48<n<122 and n%4==0)
print(48<m<122 and m%4==0)

True
False

In [111]:
#73.WAS to check the given number is divisible by 3 or 5 and display the value.
n,m,o=10,15,4
print((n%3==0 or n%5==0) and n)
print((m%3==0 or m%5==0) and m)
print((o%3==0 or o%5==0) and o)

10
15
False

In [113]:
#74.WAS to check the given number is between 100 to 200 including th limit.
s,t=100,201
print(100<=s<=200)
print(100<=t<=200)

True
False

In [115]:
#75.WAS to check the given number in between 100 to 200.
q,p=99,200
print(100<=q<=200)
print(100<=p<=200)

False
True

In [3]:
#76.WAE to check the given string last character ASCII value should be divisible by 5 or not.
s="apple"
print(ord(s[-1]))
print(ord(s[-1])%5==0)
a='world'
print(ord(a[-1]))
print(ord(a[-1])%5==0)

101
False
100
True

In [4]:
#77.WAE to check the given number is present between 60 to 130 and the number should be divisible by 3 and 4 and the last digit should be (greater/less) than 9.
n=129
print(60<=n<=130 and n%3==0 and n%4==0 and n%9>0)
m=120
print(60<=m<=130 and m%3==0 and m%4==0 and m%9<0)

False
False

In [8]:
#79.WAE to check the given number is even or greater than 25.
n=26
print(n%2==0 or n>25)
m=19
print(m%2==0 or m>25)

True
False

In [9]:
#80.WAE to check the given number is divisible by either 3 or 5.
n=25
print(n%3==0 or n%5==0)
m=22
print(m%3==0 or m%5==0)

True
False

In [10]:
#81.WAE to check the given number is not an even number.
n=23
print(n%2!=0)
m=22
print(m%2!=0)

True
False

In [11]:
#82.WAE to check the given number is not an odd number.
n=20
print(n%2==0)
m=31
print(m%2==0)

True
False

In [12]:
#83.WAE to check the given number is not a divisible by 3.
n=22
print(n%3!=0)
m=21
print(m%3!=0)

True
False

In [16]:
#84.WAE to check the given number is not a divisible by 3 and 5.
n=8
print(n%3!=0 and n%5!=0)
m=15
print(m%3!=0 and m%5!=0)

True
False

In [17]:
#85.WAE to check the given number is not a divisible by 3 or 5.
n=8
print(n%3!=0 or n%5!=0)
m=15
print(m%3!=0 or m%5!=0)

True
False

In [20]:
#86.WAE to check the given character value is not divisible by 5.
n="A"
print(ord(n))
print(ord(n)%5!=0)
m="B"
print(ord(m))
print(ord(m)%5!=0)

65
False
66
True

In [21]:
#87.WAE to check find out the ASCII character in a given number.
n=98
print(chr(n))
m=81
print(chr(m))

b
Q

In [22]:
#88.WAE to check find out the ASCII value in agiven character.
n='Z'
print(ord(n))
m='g'
print(ord(m))

90
103

In [25]:
#89.WAE to check the given character is uppercase or not.
s='G'
print(len(s)==1 and "A"<=s<="Z")
n='s'
print(len(n)==1 and "A"<=n<="Z")
m="SA"
print(len(m)==1 and "A"<=m<="Z")

True
False
False

In [28]:
#90.WAE to check the given character is lowercase or not.
s='g'
print(len(s)==1 and "a"<=s<="z")
n="S"
print(len(n)==1 and "a"<=n<="z")
m="as"
print(len(m)==1 and "a"<=m<="z")

True
False
False

In [32]:
#91.WAE to check the given character is the alphabet.
c="a"
print(len(c)==1 and ("a"<=c<="z" or "A"<=c<="Z"))
b="H"
print(len(b)==1 and ("a"<=b<="z" or "A"<=b<="Z"))
a="As"
print(len(a)==1 and ("a"<=a<="z" or "A"<=a<="Z"))

True
True
False

In [35]:
#92.WAE to check the given character is the ASCII number.
a='5'
print(len(a)==1 and "0"<=a<="9")
b="a"
print(len(b)==1 and "0"<=b<="9")
c='71'
print(len(c)==1 and "0"<=c<="9")

True
False
False

In [64]:
#93.WAE to check the given character is the special character or not.
a="$"
print(not ("A"<=a<="Z" or "a"<=a<="z" or "0"<=a<="9"))
m="K"
print(not ("A"<=m<="Z" or "a"<=m<="z" or "0"<=m<="9"))

True
False

In [65]:
#94.WAE to check the given character not be uppercase.
n="a"
print (not ("A"<=n<="Z"))
m="L"
print (not ("A"<=m<="Z"))

True
False

In [67]:
#95.WAE to check the given character not be lowercase.
n="M"
print(not("a"<=n<="z"))
M='n'
print(not("a"<=M<="z"))

True
False

In [4]:
#96.WAE to check the given character not to be alphabet.
n="m"
print(not("a"<=n<="z" or "A"<=n<="Z" ))
m="$"
print(not ("A"<=m<="Z" or "a"<=m<="z" ))

False
True

In [12]:
#97.WAE to check the given character should not be a ASCII number.
n="5"
print(not ('0'<=n<='9'))
m='*'
print(not ('0'<=m<='9'))

False
True

In [10]:
#98.WAE to check the given character should not be a special character.
n='&'
print("A"<=n<="Z" or "a"<=n<="z" or "0"<=n<="9")
a="7"
print("A"<=a<="Z" or "a"<=a<="z" or "0"<=a<="9")

False
True

In [16]:
#99.WAE to Check the given character is vowel.
ch="A"
print(ch in "AEIOUaeiou")
CH="q"
print((CH in "AEIOUaeiou"))

True
False

In [18]:
#100.WAE to check the given character is not a vowel.
s="a"
print(s not in "AEIOUaeiou")
s='N'
print(s not in "AEIOUaeiou")

False
True

In [2]:
#101.WAE to convert uppercase to lowercase in given character.
n="F"
print(chr(ord(n)+32))

f

In [3]:
#102.WAE to convert lowercase to uppercase in given character.
n="j"
print(chr(ord(n)-32))

J

In [5]:
#103.WAE to extract the previous character in the given character.
n="y"
print(chr(ord(n)-1))
m='U'
print(chr(ord(m)-1))

x
T

In [7]:
#104.WAE to extract the next character in the given character.
n="r"
print(chr(ord(n)+1))
m="Q"
print(chr(ord(m)+1))

s
R

In [10]:
#105.WAE to check the given character is convert to ASCII value and the value is even as well as the character should be uppercase.
n="D"
print(len(n)==1 and ord(n)%2==0 and "A"<=n<="Z")
m="C"
print(len(m)==1 and ord(m)%2==0 and "A"<=m<="Z")
o='f'
print(len(o)==1 and ord(o)%2==0 and "A"<=o<="Z")

True
False
False

In [14]:
#106.WAE to check the given character is converted to ASCII value and value is odd as well as the character should be uppercase.
n="E"
print(len(n)==1 and ord(n)%2!=0 and "A"<=n<="Z")
m="H"
print(len(m)==1 and ord(m)%2!=0 and "A"<=m<="Z")
o="g"
print(len(o)==1 and ord(o)%2==0 and "A"<=o<="Z")

True
False
False

In [16]:
#107.WAE to check which the given number is converted to character is not a special symbol.
s=91
print("a"<=chr(s)<="z" or 'A'<=chr(s)<='Z' or "0"<=chr(s)<='9')
n=121
print("a"<=chr(n)<="z" or 'A'<=chr(n)<='Z' or "0"<=chr(n)<='9')

False
True

In [18]:
#108.WAE to check the given number is a ASCII character is a vowel.
b=65
print(chr(b) in 'AEIOUaeiou')
c=98
print(chr(c) in "aeiouAEIOU")

True
False

In [23]:
#109.WAE to check the first and second character are sequence or not in given string.
l="xyz"
print(ord(l[0])+1==ord(l[1])) 
u="ADB"
print(ord(u[0])==ord(u[1])-1)

True
False

In [25]:
#110.WAE to check the given character ASCII value should be either greater than 50 or greater than 25 or less than 112.
c='q'
print(ord(c)>50 or ord(c)<112)

True

In [26]:
#111.WAE to given number should increased by 1.
m=121
m+=1
print(m)

122

In [27]:
#112.WAE to given number should decreased by 1.
n=121
n-=1
print(n)

120

In [28]:
#113.WAE to given number should increased by 2.
n=143
n+=2
print(n)

145

In [29]:
#114.WAE to given number should decreased by 2.
m=143
m-=2
print(m)

141

In [31]:
#115.WAE to check the given integer number is present in the collection.
n=143
o=152
m=[113,123,143,153]
print(n in m)
print(o in m)

True
False

In [32]:
#116.WAE to perform the addition operation A value and B value and final result should be be updated to A.
A=250
B=250
A+=B
print(A)

500

In [34]:
#117.WAE to check the given value is present in the collection.
n='PRUDHVI'
m="R"
l="i"
print(m in n)
print(l in n)

True
False

In [35]:
#118.WAE to check the given list is present in the list.
n=[10,20,(30,40),[50,"BYE"]]
m=[50,'BYE']
p=[50,'bye']
print(m in n)
print(p in n)

True
False

In [36]:
#119.WAE to check the given dict value is present in tuple.
q=(10,30,50,{'hii',"bye"},{40:'HELLO'})
r={40:"HELLO"}
s={40:"hello"}
print(r in q)
print(s in q)

True
False

In [37]:
#120.WAE to given value is integer value or not.
n=10
m="10"
print(type(n)==int)
print(type(m)==int)

True
False

In [38]:
#121.WAE to check given value is string value or not.
n="Prudhvi"
m=143
print(type(n)==str)
print(type(m)==str)

True
False

In [41]:
#122.WAE to check given value is single value or not.
n=True
m={10,20}
print(type(n) in [int,float,complex,bool,bytes,type(None)])
print(type(m) in [int,float,complex,bool,bytes,type(None)])

True
False

In [43]:
#123.WAE to check given value is not a single value.
w=("hello",)
u=b'10101'
print(type(w) not in [int,float,complex,bool,bytes,type(None)])
print(type(u) not in [int,float,complex,bool,bytes,type(None)])

True
False

In [44]:
#124.WAE to check given value is multivalue or not.
e={10:"HERO"}
f=10+2j
print(type(e) in [str,list,set,tuple,dict])
print(type(f) in [str,list,set,tuple,dict])

True
False

In [45]:
#125.WAE to check given value is a mutable value or not.
a=[1,2,3]
b="143"
print(type(a) in [list,set,dict])
print(type(b) in [list,set,dict])

True
False

In [46]:
#126.WAE to check the given value is a immutable value or not.
a=(10,20,30)
b={'a','b','c'}
print(type(a) not in [list,set,dict])
print(type(b) not in [list,set,dict])

True
False

In [47]:
#127.WAE to check the given value is divisible by 6 as well as that value present in the collection or not.
n=36
p=22
m=[22,34,36,78]
print(n%6==0 and n in m)
print(p%6==0 and p in m)

True
False

In [48]:
#128.WAE to perform the bitwise AND operation given values are(15 and 19).
n=15
m=19
print(n&m)

3

In [50]:
#129.WAE to perform the bitwise OR operation given values are(115 and 79).
n=115
m=79
print(n|m)

127

In [51]:
#130.WAE to perform the bitwise XOR operation given values are(56 and 22).
n=56
m=22
print(n^m)

46

In [52]:
#131.WAE to perform the bitwise not operation given values 15.
n=15
print(~n)

-16

In [53]:
#132.WAE to perform the bitwise left shift operation with 32 and skipping value is 3.
n=32
m=3
print(n<<m)

256

In [54]:
#133.WAE to perform the bitwise right shift operation with 25 and skipping value is 2.
n=25
m=2
print(n>>m)

6

In [56]:
#134.WAE to find out the output of a given condition:(10+20*80 and 10**3) or ({10,20}or not([15-16])).
a=(10+20*80 and 10**3) or ({10,20}or not([15-16]))
print(a)

1000

In [59]:
#135.WAE to check if a given key is present in a dict.
d={10:20,'a':"Hello",(1,):('a','b')}
k='a'
l="10"
print(k in d.keys())
print(l in d.keys())

True
False

In [60]:
#136.WAE to check if a given value is present in a dict.
d={10:20,'a':"Hello",(1,):('a','b')}
k=20
l=1
print(k in d.values())
print(l in d.values())

True
False

In [61]:
#137.WAE to check if the key is present in a dict or not.
d={10:20,'a':"Hello",(1,):('a','b')}
k=1
l=(1,)
print(k not in d.keys())
print(l not in d.keys())

True
False

In [62]:
#138.WAE to check if a given key value pair is present in a dict.
d={10:20,'a':"Hello",(1,):('a','b')}
l=("a","Hello")
b=('10','20')
print(l in d.items())
print(b in d.items())

True
False

In [66]:
#139.WAE to check if the two values are pointing to the same address or not.
a=125
b=125
print(a is b)
print(125 is 125)
c=289
d=289
print(c is d)
print(289 is 289)

True
True
False
True

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\saipr\AppData\Local\Temp\ipykernel_30648\2081024052.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(125 is 125)
C:\Users\saipr\AppData\Local\Temp\ipykernel_30648\2081024052.py:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(289 is 289)

In [68]:
#140.WAE to check both the values should be integer and both values are pointhing to same address.
a=143
b=143
print(type(a)==int and type(b)==int and a is b)
c=285
d=285
print(type(c)==int and type(d)==int and c is d)

True
False